In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'https://www.dropbox.com/s/0so14yudedjmm5m/LoanStats3d.csv?dl=1',
    skipinitialspace=True,
    header=1
)

y2015 = y2015.iloc[:2000, : ]
# Note the warning about dtypes.

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [4]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']

# Convert ID and Interest Rate to numeric.
X['id'] = pd.to_numeric(X['id'], errors='coerce')
X['int_rate'] = pd.to_numeric(X['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
X.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

X = pd.get_dummies(X)
X = X.fillna(X.mean())

In [6]:
cross_val_score(rfc, X, Y, cv=10)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.97536946, 0.97536946, 0.9800995 , 0.97512438, 0.97512438,
       0.9800995 , 0.97487437, 0.99494949, 0.99492386, 0.98979592])

In [7]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
2000
term
2
int_rate
34
grade
7
sub_grade
34
emp_title
1387
emp_length
11
home_ownership
3
verification_status
3
issue_d
1
loan_status
7
pymnt_plan
1
url
2000
desc
1
purpose
11
title
11
zip_code
569
addr_state
49
earliest_cr_line
399
revol_util
827
initial_list_status
2
last_pymnt_d
13
next_pymnt_d
2
last_credit_pull_d
14
application_type
2
verification_status_joint
2

In [8]:
X.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Jun-2016,last_credit_pull_d_Mar-2016,last_credit_pull_d_May-2016,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Verified
1995,68605448,73508222.0,29000.0,29000.0,29000.0,18.99,752.12,90000.0,1.83,0.0,...,0,0,0,0,0,0,1,0,0,0
1996,68565204,73454981.0,15000.0,15000.0,15000.0,18.99,389.03,100000.0,12.01,0.0,...,0,0,0,0,0,0,1,0,0,0
1997,68586033,73475828.0,7000.0,7000.0,7000.0,6.49,214.52,93000.0,34.35,2.0,...,0,0,0,0,0,0,1,0,0,0
1998,68435394,73325182.0,35000.0,35000.0,35000.0,9.17,1115.77,164000.0,7.08,0.0,...,0,0,0,0,0,0,1,0,0,0
1999,68525342,73415118.0,35000.0,35000.0,35000.0,11.99,778.38,125000.0,24.01,0.0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
pd.get_dummies(X)

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,last_credit_pull_d_Jun-2016,last_credit_pull_d_Mar-2016,last_credit_pull_d_May-2016,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Verified
0,72868139.0,16000.0,16000.0,16000.0,379.39,48000.0,33.18,0.0,0.0,33.0,...,0,0,0,0,0,0,1,0,0,0
1,73244544.0,9600.0,9600.0,9600.0,298.58,60000.0,22.44,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
2,73356753.0,25000.0,25000.0,25000.0,777.55,109000.0,26.02,0.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,0
3,73356799.0,28000.0,28000.0,28000.0,858.05,92000.0,21.60,0.0,0.0,42.0,...,0,0,0,0,0,0,1,0,0,0
4,73384866.0,8650.0,8650.0,8650.0,320.99,55000.0,25.49,0.0,4.0,NaN,...,1,0,0,0,0,0,1,0,0,0
5,73396623.0,23000.0,23000.0,23000.0,471.77,64000.0,18.28,0.0,0.0,29.0,...,0,0,0,0,0,0,1,0,0,0
6,73456723.0,29900.0,29900.0,29900.0,678.49,65000.0,21.77,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
7,73467703.0,18000.0,18000.0,18000.0,400.31,112000.0,8.68,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
8,71035433.0,35000.0,35000.0,35000.0,829.90,110000.0,17.06,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
9,73366655.0,10400.0,10400.0,10400.0,289.91,104433.0,25.37,1.0,3.0,12.0,...,0,0,0,0,0,0,1,0,0,0
10,72928789.0,20000.0,20000.0,20000.0,432.66,63000.0,10.78,0.0,0.0,NaN,...,0,0,0,0,0,0,0,1,1,0
11,73246236.0,22400.0,22400.0,22400.0,508.30,95000.0,22.98,0.0,0.0,54.0,...,0,0,0,0,0,0,1,0,0,0
12,73316365.0,16000.0,16000.0,16000.0,363.07,70000.0,26.40,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
13,73297111.0,3600.0,3600.0,3600.0,123.03,55000.0,5.91,0.0,1.0,30.0,...,0,0,0,0,0,0,1,0,0,0
14,73244858.0,24700.0,24700.0,24700.0,820.28,65000.0,16.06,1.0,4.0,6.0,...,0,0,1,0,0,0,1,0,0,0
15,73356763.0,10000.0,10000.0,10000.0,306.45,85000.0,13.07,0.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,0
16,73542831.0,1400.0,1400.0,1400.0,47.10,64000.0,34.95,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
17,73316657.0,11950.0,11950.0,11950.0,405.18,34000.0,10.20,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
18,71350547.0,18000.0,18000.0,18000.0,471.70,150000.0,9.39,0.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,0
19,73519699.0,8000.0,8000.0,8000.0,263.74,42000.0,34.80,0.0,0.0,75.0,...,0,0,0,0,0,0,1,0,0,0
20,72077199.0,20000.0,20000.0,20000.0,631.26,85000.0,17.61,1.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
21,73366513.0,20000.0,20000.0,20000.0,637.58,180000.0,14.67,0.0,0.0,49.0,...,0,0,0,1,0,0,1,0,0,0
22,73366548.0,28000.0,28000.0,28000.0,949.38,125000.0,7.49,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
23,73326493.0,5000.0,5000.0,5000.0,169.54,79000.0,12.70,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
24,73485987.0,20000.0,20000.0,20000.0,602.30,65000.0,18.83,0.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,0
25,72708407.0,4225.0,4225.0,4225.0,146.16,35000.0,15.22,2.0,0.0,18.0,...,0,0,0,0,0,0,1,0,0,0
26,73416719.0,15000.0,15000.0,15000.0,451.73,44000.0,15.34,0.0,1.0,47.0,...,0,0,0,0,0,0,1,0,0,0
27,73509983.0,17600.0,17600.0,17600.0,530.03,88000.0,26.59,0.0,0.0,NaN,...,0,0,0,1,0,0,1,0,0,0
28,73366561.0,6000.0,6000.0,6000.0,186.61,100000.0,13.28,1.0,1.0,15.0,...,0,0,0,0,0,0,1,0,0,0
29,72569997.0,16000.0,16000.0,16000.0,538.18,65000.0,18.96,0.0,0.0,33.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,73375215.0,12000.0,12000.0,12000.0,279.16,40000.0,31.68,0.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1969,72837963.0,20000.0,20000.0,20000.0,465.27,130000.0,14.86,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1970,73295502.0,2000.0,2000.0,2000.0,63.76,36400.0,29.01,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1971,73516865.0,20000.0,20000.0,20000.0,652.70,42000.0,23.66,0.0,2.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1972,73425471.0,9500.0,9500.0,9500.0,313.19,50000.0,25.13,0.0,3.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1973,73285129.0,24000.0,24000.0,24000.0,591.19,55000.0,12.46,0.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1974,72657074.0,10000.0,10000.0,10000.0,256.61,55000.0,30.29,0.0,2.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1975,73517853.0,10000.0,10000.0,10000.0,339.07,55000.0,21.49,0.0,3.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1976,73255423.0,6000.0,6000.0,6000.0,205.04,30000.0,15.92,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1977,73425385.0,17000.0,17000.0,17000.0,580.94,90000.0,18.36,0.0,3.0,NaN,...,0,0,0,0,1,0,1,0,0,0
1978,73305238.0,25000.0,25000.0,25000.0,540.83,80000.0,8.51,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1979,73305028.0,18000.0,18000.0,18000.0,593.40,134000.0,19.24,0.0,1.0,71.0,...,0,0,0,0,0,1,1,0,0,0
1980,73517848.0,8600.0,8600.0,8600.0,269.14,126202.0,11.84,0.0,1.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1981,73517821.0,16800.0,16800.0,16800.0,426.34,76000.0,33.66,0.0,0.0,69.0,...,0,0,0,0,0,0,1,0,0,0
1982,73415188.0,20000.0,20000.0,20000.0,659.33,135000.0,21.75,3.0,3.0,15.0,...,0,0,0,0,0,0,1,0,0,0
1983,73455061.0,35000.0,35000.0,35000.0,1186.72,280000.0,16.72,0.0,1.0,27.0,...,0,0,0,0,0,0,1,0,0,0
1984,73365127.0,16000.0,16000.0,16000.0,500.72,117000.0,12.00,0.0,2.0,44.0,...,0,0,0,0,0,0,1,0,0,0
1985,73508113.0,10375.0,10375.0,10375.0,274.24,100000.0,8.89,0.0,1.0,47.0,...,0,0,0,0,0,0,1,0,0,0
1986,73334986.0,25000.0,25000.0,25000.0,592.79,80000.0,16.94,1.0,1.0,10.0,...,0,0,0,0,0,0,1,0,0,0
1987,73305033.0,20850.0,20850.0,20850.0,504.49,129500.0,34.59,0.0,0.0,28.0,...,0,0,0,0,0,0,1,0,0,0
1988,73395189.0,4200.0,4200.0,4200.0,133.90,68000.0,18.83,0.0,0.0,NaN,...,0,0,0,0,1,0,1,0,0,0
1989,73385310.0,35000.0,35000.0,35000.0,862.15,95800.0,27.35,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1990,72128123.0,16000.0,16000.0,16000.0,500.72,58000.0,10.32,3.0,0.0,17.0,...,0,0,0,0,0,0,1,0,0,0
1991,73465552.0,9425.0,9425.0,9425.0,345.44,74796.8,23.15,0.0,0.0,43.0,...,0,0,0,0,0,0,1,0,0,0
1992,73425524.0,11700.0,11700.0,11700.0,404.73,38000.0,33.99,0.0,2.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1993,73245225.0,9600.0,9600.0,9600.0,313.30,70000.0,17.07,0.0,0.0,35.0,...,0,0,0,0,0,0,1,0,0,0
1994,73405176.0,8000.0,8000.0,8000.0,265.68,68000.0,8.65,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1995,73508222.0,29000.0,29000.0,29000.0,752.12,90000.0,1.83,0.0,0.0,NaN,...,0,0,0,0,0,0,1,0,0,0
1996,73454981.0,15000.0,15000.0,15000.0,389.03,100000.0,12.01,0.0,1.0,38.0,...,0,0,0,0,0,0,1,0,0,0
1997,73475828.0,7000.0,7000.0,7000.0,214.52,93000.0,34.35,2.0,0.0,23.0,...,0,0,0,0,0,0,1,0,0,0